<div>
    <div class="container" style="height: 80vh">
        <div class="container-fluid d-flex justify-content-center vh-100">
            <div class="container text-center" style="margin-top: 25vh;">
                <h1 class="display-3">Navigate the Stars</h1>
                <h1 class="display-6">On NetAstra</h1>
                <p class="lead">Explore tens of thousands of spacecraft, analyse orbits and investigate their components</p>
                <form asp-controller="Explore" asp-action="Index" method="get">
                    <button type="submit">
                        Liftoff
                    </button>
                </form>
            </div>
            <footer  style="position: absolute; bottom: 35px;">
                <div class="container text-center" style="font-size: 12px;">
                    <p class="mb-1">@DateTime.Now.Year NetAstra. All rights reserved.</p>
                </div>
            </footer>
        </div>
        <script>

        </script>
    </div>
</div>