<div>
    <style>
        #thirdparty-login button {
            transition: 0.3s;
        }
        #thirdparty-login button:hover i {
            color: black;
        }
    </style>

    <div class="container" style="height: 80vh">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-p1Pj...snipped...==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <div class="container-fluid d-flex justify-content-center vh-100">
            <div class="container text-center" style="margin-top: 25vh;">
                <h1 class="display-6">Sign In</h1>
                <div class="container" style="width: 35vw;">
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" placeholder="Username" style="background-color: #111; color: white; border: 1px solid white;">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" placeholder="Password" style="background-color: #111; color: white; border: 1px solid white;">
                        </div>
                        <button type="submit">Go</button>
                    </form>
                </div>
                <br/>
                <div class="text-center mt-3" id="thirdparty-login">
                    <p class="text-white mb-2">Third-party sign-in:</p>
                    <div class="d-flex justify-content-center gap-3">
                        <button class="btn">
                            <i class="fab fa-google"></i>
                        </button>
                        <button class="btn">
                            <i class="fab fa-microsoft"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>

        </script>
    </div>
</div>