* {
  color: white;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem black, 0 0 0 0.25rem white;
}

html {
  position: relative;
  min-height: 100%;
  background-color: black;
}

body {
  margin-bottom: 60px;
  background-color: black;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a, 
.nav-link {
  color: inherit;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

a:hover,
.nav-link:hover {
  color: inherit;
  opacity: 0.5;
}

/* Fit Viewport on homepage only */
body.homepage, html {
    overflow: hidden;
}

button {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 400;
  transition: all 0.3s ease;
}

button:hover {
  background-color: white;
  color: black;
}

.navbar-toggler {
  border: 1px solid white;
  background-color: black;
  transition: all 0.3s ease;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
  border: 1px solid black;
  background-color: white;
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

input.input-validation-error {
  border: 2px solid #ff4d4d !important;
  background-color: #1a1a1a;
  color: white;
}
